/* Start-Global-Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Work Sans', sans-serif;
}
:root{
    --main-color:#10cab7;
    --section-color: #f6f6f6;
    --section-font-color: #777;
    --section-padding: 60px;
}
@media (min-width :768px) {
    .bag {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .bag {
        width: 970px 
    }
}
@media (min-width: 1200px) {
    .bag {
        width: 1170px;
    }
}
/* Start-Global */
html {
    scroll-behavior: smooth;
}
.special-head {
    color: #ebeced;
    margin: 0;
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -4;
}
.special-head + p {
    text-align: center;
    margin-top: -30px;
    color: #797979;
}
/* End-Global */
@media (max-width: 767px) {
    .special-head {
        font-size: 70px;
    }
}
/* Global */
/* End-Global-Rules */

/* Start-Header */
.bag {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header{
    padding: 20px;

}
.header .bag {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header .bag .logo {
    width: 60px;
}
.header .links {
    position: relative;
}
.header .links:hover ul {
    display: block;
}
.header .links:hover .icons span:nth-child(2) {
    width: 100%;
}
.header .links .icons {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .icons span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icons span:first-child {
    width: 100%;
}
.header .links .icons span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}
.header .links .icons span:last-child {
    width: 100%;
}
.header .links ul {
    list-style: none;
    min-width: 200px;
    margin: 0;
    padding: 0;
    right: 0;
    top: calc(100% + 15px);
    background-color: var(--section-color);
    position: absolute;
    display: none;
    z-index: 1;
}
.header .links ul::before {
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    top: -20px;
    right: 5px;
}
.header .links ul li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #333;
    transition: 0.3s;
}
.header .links ul li a:hover {
    padding-left: 25px;
    background-color: var(--main-color);
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}
/* End-Header */
/* Start-Landing */
.landing {
    background-image: url(../images/pexels-bernard-bertrand-10775120.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text {
    position: absolute;
    margin: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing h1 {
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}
.landing p {
    font-size: 19px;
    line-height: 1.8;
    text-transform: capitalize;
}
/* End-Landing */
/* Start-Featuers */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-color);
}
.features .bag {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.features .feat {
    padding: 20px;
    text-align: center;
}
.features .feat i {
    color: var(--main-color);
    font-size: 30px;
    transition: 0.3s;
}
.features .feat i:hover {
    transform: translateY(7px);
}
.features .feat h3 {
    font-weight: 800;
    text-transform: capitalize;
    margin: 30px 0;
}
.features .feat p {
    font-size: 15px;
    line-height: 1.8;
    color: var(--section-font-color);
}
/* End-Features */
/* Start-Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 300px;
    margin-top: 100px;

    /* margin-left: 100px; */
}
@media (max-width:767px) {
    .services .services-content {
        grid-gap: 50px;
    }
}
.services .services-content .serv {
    display: flex;
    margin-bottom: 40px;
}

.services .services-content .serv i {
    color: var(--main-color);
    flex-basis: 40px;
    font-size: 25px;
    transition: 0.3s;
}
.services .services-content .serv i:hover {
    transform: translateX(7px);
}
@media (max-width: 767px) {
    .services .services-content .serv {
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .serv .text {
    flex: 1;
}
.services .services-content .serv .text h3 {
    margin: 0 0 20px;
}
.services .services-content .serv .text p {
    font-weight: 300;
    color: var(--section-font-color);
    line-height: 1.7;
}
/* End-Services */
/* Start-portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-color);
    position: relative;

}
.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 60px;
    margin-top: 100px;
}
.portfolio .portfolio-content .card{
    background-color: white;
}
.portfolio .portfolio-content .card img {
    max-width: 100%;
}
.portfolio .portfolio-content .text {
    padding: 0 0 0 10px;
    margin-bottom: 10px;
}
.portfolio .portfolio-content .text h2{
    letter-spacing: -0.75;
    margin-bottom: 20px;
}
.portfolio .portfolio-content .text p {
    color: var(--section-font-color);
    line-height: 1.6;
}
/* End-Portfolio */
/* Start-About */
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    max-width: 100%;
}
.about .about-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 100px;
    margin-left: 100px;
}
.about .about-content .text {
    width: 300px;
    max-width: 100%;
    height: 200px;
}
.about .about-content .text .top {
    font-weight: bold;
    line-height: 1.6;
}
.about hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.about .about-content .text .bottom {
    color: var(--section-font-color);
    line-height: 1.4;
    overflow: hidden;
}
/* End-About */
/* Start-conatct */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-color);
    margin-top: 100px;
}
.contact .contact-content {
    margin-top: 100px;
}
@media (max-width: 767px){
    .contact .contact-content {
        margin-top: 100px;
        margin-left: -50px;
    }
}
.contact-content h3 {
    font-size: 30px;
    color: #264247;
    margin-left: 50px;
}
.contact .contact-content h4 a{
    font-size: 20px;
    color: var(--main-color);
    text-decoration: none;
    margin-left: 50px;
}
.contact .contact-content p {
    font-size: 15px;
    margin-left: 150px;
    margin-top: 20px;
    font-weight: bold;
}
.contact .contact-content i {
    font-size: 20px;
    padding: 5px;
    transition: 0.3s;
}
.contact .contact-content p a {
    text-decoration: none;
    color: var(--main-color);

}

.contact .facebook:hover {
    color: #0035BB;
}
.contact .google:hover {
    color: red;
}
.contact .twitter:hover {
    color: #1C96E9;
}
/* End-Contact */
/* Start-Footer */
.footer {
    background-color: #264247;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px 0 0;
}
p a {
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    color: white;
}
.footer p a span {
    color: var(--main-color);
}
/* End-Footer */